# Email configuration.
#
# Available options:
#   address - Allows you to use a remote mail server. Just change it from its default "localhost" setting.
#   port - On the off chance that your mail server doesn‘t run on port 25, you can change it.
#   domain - If you need to specify a HELO domain, you can do it here.
#   user_name - If your mail server requires authentication, set the username in this setting.
#   password - If your mail server requires authentication, set the password in this setting.
#   authentication - If your mail server requires authentication, you need to specify the authentication type here.
#                    This is one of plain, login, cram_md5.
#   enable_starttls_auto - When set to true, detects if STARTTLS is enabled in your SMTP server and starts to use it.
#                          It works only on Ruby >= 1.8.7 and Ruby >= 1.9. Default is true.

# If you use the mailcatcher gem, you can use this config for development and
# staging:
development:
  :address: localhost
  :port: 1025

staging:
  :address: localhost
  :port: 1025

#production:
#  :address: mailhost.somewhere.maily
#  :port: 25
#  :domain: somewhere.maily
