<fieldset class="header">
  <h1><%= link_to "< Redpill Linpro Incident Tracker >", root_url %></h1>
  <%= link_to image_tag("redpill-linpro-logo.png"), "http://www.redpill-linpro.com" %>
  <%= render :partial => "shared/menu" %>
</fieldset>
